* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background-color: #1c2431;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  padding: 0;
  margin: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  max-width: 1300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px auto;
  padding: 40px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.container {
  width: 90%;
  max-width: 1300px;
}

.nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  min-width: 270px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro {
  font-family: "Raleway", sans-serif;
  width: 100%;
  font-weight: 700;
  background: url("../images/bg-curvy-desktop.svg") bottom no-repeat;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 4em;
}

.intro .intro-content {
  width: 90%;
  max-width: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: white;
}

.intro .intro-content img {
  max-width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.intro .intro-content h1 {
  font-size: 32px;
  width: 50%;
  margin: auto;
  margin-bottom: 1em;
  line-height: 40px;
}

.intro .intro-content h3 {
  font-size: 18px;
  font-weight: 400;
  width: 35%;
  margin: auto;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 1.5em;
}

.intro .intro-content button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding: 21px 97px;
  border-radius: 28px;
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background: linear-gradient(to right, #65e2d9, #339ecc);
  cursor: pointer;
  margin-bottom: 2em;
}

.intro .intro-content button:hover {
  background: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#65e2d9));
  background: linear-gradient(to right, #65e2d9, #65e2d9);
}

.info {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  background-color: #181F2B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  padding-bottom: 6em;
}

.info .info-content-container {
  max-width: 1300px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
}

.info .info-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  min-width: 355px;
  margin: auto;
  margin-bottom: 2em;
  text-align: center;
}

.info .info-content-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 8px;
}

.info .info-content-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
}

.stay-productive {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #181F2B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 9em;
}

.stay-productive .container {
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.stay-productive .container .image {
  width: 100%;
  height: auto;
}

.stay-productive .container h1 {
  font-size: 32px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  margin-bottom: 24px;
}

.stay-productive .container p {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 18px;
}

.stay-productive .container a div {
  color: #65e2d9;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #65e2d9;
  padding-bottom: 5px;
}

.stay-productive .container a div h4 {
  font-family: "Open Sans", sans-serif;
  margin-right: 10px;
  vertical-align: middle;
  font-weight: 400;
}

.testimonials {
  background-color: #181F2B;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: white;
  font-family: "Open Sans", sans-serif;
}

.testimonials .wrapper {
  width: 90%;
  max-width: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  position: relative;
}

.testimonials .wrapper .quotes {
  position: absolute;
  top: -30px;
  left: -20px;
  z-index: 0;
}

.testimonials .wrapper .testimonial {
  background-color: #202a3c;
  border-radius: 5px;
  width: 30%;
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em 2em;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 2;
}

.testimonials .wrapper .testimonial p {
  font-weight: 400;
  font-size: 15px;
}

.testimonials .wrapper .testimonial .user {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonials .wrapper .testimonial .user p {
  font-size: 10px;
}

.testimonials .wrapper .avatar-container {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 10px;
}

.testimonials .wrapper .avatar-container .avatar {
  width: 100%;
  height: auto;
}

.early-access-section {
  background-color: #181F2B;
  width: 100%;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.early-access-section .early-access-container {
  background-color: #1c2431;
  -webkit-box-shadow: 2px 3px 20px #020911;
          box-shadow: 2px 3px 20px #020911;
  width: 90%;
  max-width: 850px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 50px 70px;
  border-radius: 10px;
  color: white;
  position: absolute;
  top: 190px;
}

.early-access-section h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  margin-bottom: 1em;
}

.early-access-section p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin-bottom: 1em;
}

.early-access-section .form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.early-access-section .form div {
  height: 3em;
  width: 70%;
  overflow: hidden;
  border-radius: 300px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.early-access-section .form div input {
  width: 100%;
  height: 100%;
  border-width: 0px;
  outline: none;
  border: none;
  padding-left: 20px;
}

.early-access-section .form .error-message {
  position: absolute;
  color: #ff4242;
  width: 100%;
  top: 55px;
  left: 40px;
  font-size: 13px;
  z-index: 2;
  text-align: start;
}

.early-access-section .form button {
  justify-self: flex-end;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 3em;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  width: 25%;
  border-radius: 50px;
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background: linear-gradient(to right, #65e2d9, #339ecc);
  cursor: pointer;
}

.early-access-section .form button:hover,
.early-access-section .form button:focus {
  background: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#65e2d9));
  background: linear-gradient(to right, #65e2d9, #65e2d9);
}

footer {
  width: 100%;
  padding-top: 13em;
  padding-bottom: 7em;
  background-color: #0b1523;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 95%;
  max-width: 1300px;
  margin: auto;
  font-size: 0.9em;
}

footer .footer-container .logo {
  width: 200px;
  height: auto;
  margin-bottom: 1.5em;
}

footer .footer-container .footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-container .footer-info .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-container .footer-info .col p, footer .footer-container .footer-info .col a {
  margin-bottom: 0.75em;
}

footer .footer-container .footer-info .col-1 {
  width: 25%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .footer-container .footer-info .col-1::before {
  content: url("../images/icon-location.svg");
  margin-right: 1em;
  vertical-align: middle;
}

footer .footer-container .footer-info .col-2 {
  width: 20%;
}

footer .footer-container .footer-info .col-3 {
  width: 15%;
}

footer .footer-container .footer-info .phone::before {
  content: url("../images/icon-phone.svg");
  margin-right: 1em;
  vertical-align: middle;
}

footer .footer-container .footer-info .email::before {
  content: url("../images/icon-email.svg");
  margin-right: 1em;
  vertical-align: middle;
}

footer .footer-container .footer-info .flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 15%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-container .footer-info .flex-row a {
  padding-right: 1em;
}
/*# sourceMappingURL=styles.css.map */